#stage {
    flex: 1;
    width: 80%;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    margin-right: 2%;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.param {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mainText {
    font-size: 30px;
    color: #0075FF;
}

.paramText {
    flex: 1;
    font-size: 30px;
    color: black;
}

#button {
    line-height: 36px;
    width: 100%;
    background-color: #0075FF;
    border-radius: 20px;
}

#color {
    width: 80%;
    height: 80%;
    flex: 2;
}

#commentColor {
    width: 80%;
    height: 80%;
    flex: 2;
}

#radius {
    width: 100%;
    flex: 2;
    font-size: 30px;
}

#text {
    width: 100%;
    flex: 2;
    font-size: 30px;
}